* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%;
 background-color: #242424;
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}

.about_wrapper{
    position: relative;
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.intro{
    display: grid;
    grid-template-columns: 40vh;
    grid-template-rows: repeat(4,2fr)
}

#featured_projects{
display: grid;
grid-template-columns: ;
}


