* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
 body {
 background-color: #3b3b3b;
}


header{
    position: relative;
    width: 100%;
    height: 80px;
    background: gold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-right: 15px;
}


/* //projects goes here */

.aboutmeWrapper{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: black;
    padding-top:20px;
    padding-bottom:20px;
}

#long-aboutme{
    position: absolute;
    background-color: green;
    width:40vw;
    top: 100%;
    font-size: 30px;  
}

#circle-picture{
    height: 320px;
    width: 320px;
    border-radius: 50%;
    background-color: aqua;
}

.projects-main {
    position: relative;
    width: fit-content;
    height:auto;
    margin:60px auto; 
    gap: 10px; 
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 28em);
    grid-auto-rows: 350px;
    overflow: hidden;
    background-color: black;
    /* top: 20rem; */
 }

 .projects-main > * {
    border-radius: 20px;
 }

 .small_feature{
    position: relative;
    background-color: aqua;
    overflow: hidden;
 }

 .mid_feature{
    position: relative;
    grid-column: span 2;
    background-color: bisque;
    overflow: hidden;
}


 .big_feature{
    position: relative;
    display: flex;
    justify-content: center;
    grid-row: span 2;
    background-color: bisque;
    overflow: hidden;
}

.mega_feature{
    position: relative;
    grid-column: span 2;
    grid-row: span 2;
    background-color: bisque;
    overflow: hidden;
}

.mega_feature img{
    position: relative;
    height: 100%;
    width: 100%;
    object-fit:cover;
 }

 #overlay{
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: black; 
 opacity: .4;
 transition: opacity 1.5s ease-out;
 }


 #overlay:hover{
    opacity: .1;
 }



 .small_feature img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translate(30px, 1px);
    transform:scale(2);
 }

 .mid_feature img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform:scale(1);
 }

 .big_feature img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: fill;
    object-position: center;
    transform: scale(1);
 }






