* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
 body {
 background-color: #000000;
}

header{
    position: relative;
    width: 100%;
    height: 80px;
    background: gold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.intro-section{
position: relative;
height: 400px;
height: fit-content;
background-color: greenyellow;
}

.intro-section img{
    height: 400px;
    width: 400px;
    position:absolute;
    left:30px;
    border-radius: 30px;
}

.intro-section p{
    position: relative;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 600px;
    height: fit-content;
    top: 10%;
    left: 35%;
    background-color: azure;
}

header a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-right: 15px;
}

.projects-main {
    position: relative;
    width: fit-content;
    height:auto;
    margin:60px auto; 
    gap: 10px; 
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 28em);
    grid-auto-rows: 350px;
    overflow: hidden;
    /* background-color: black; */
    /* top: 20rem; */
 }

 .projects-main > * {
    border-radius: 20px;
 }

 .small_feature{
    position: relative;
    background-color: aqua;
    overflow: hidden;
 }

 .mid_feature{
    position: relative;
    grid-column: span 2;
    background-color: bisque;
    overflow: hidden;
}

 .big_feature{
    position: relative;
    display: flex;
    justify-content: center;
    grid-row: span 2;
    background-color: bisque;
    overflow: hidden;
}

.mega_feature{
    position: relative;
    grid-column: span 2;
    grid-row: span 2;
    background-color: bisque;
    overflow: hidden;
}

.mega_feature img{
    position: relative;
    height: 100%;
    width: 100%;
    object-fit:cover;
 }

 #overlay{
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: black; 
 opacity: .4;
 transition: opacity 1.5s ease-out;
 }

 #overlay:hover{
    opacity: .1;
 }

 .small_feature img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translate(30px, 1px);
    transform:scale(2);
 }

 .mid_feature img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform:scale(1);
 }

 .big_feature img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: fill;
    object-position: center;
    transform: scale(1);
 }

 /* carousel start*/
.carousel{
    position:relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-item{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: none;
    animation-duration:2s;
}

.carousel-item.active{
    display: block;
}

/* next/preview buttons */

.carousel .prevButton, .carousel .nextButton {
    position: absolute;
    z-index: 10;
    top: 94%;
    cursor: pointer;
}

.carousel .prevButton{
    transform: rotate(90deg);
    right: 50px;
}

.carousel .nextButton{
    transform: rotate(-90deg);
    right: 10px;
}

.carousel .prevButton, .carousel .nextButton{
    width: 30px;
    height: 30px;
}

/* caption styles */
.cover{
    text-align: center;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: aqua;
}

.cover img{
    margin-top: 20px;
    height: 400px;
    width: 800px;
    border-radius: 30px;
}


.cover p{
    color: black;
    background-color: green;
    width: 80%;
    font-size: 25px;
    margin-left: 11%;
}


.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 30%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}



